
@import "variables";
@import "bootstrap";

.star-placeholder {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;

    .star {
        cursor: pointer;
        opacity: 0.6;
        transition: 0.2s;

        &.not-selected {
            opacity: 0.2;
        }

        &.selected {
            opacity: 1;
        }
    }
}