<div class="empty-placeholder">                    
    <div class="empty-content">
        <div class="icon">
            <fa-icon [icon]="icon" [class]="iconColor ? 'color-' + iconColor : ''" [size]="iconSize"></fa-icon>
        </div>
        <div class="title mt-4" [class]="titleColor ? 'color-' + titleColor : ''">
            {{title}}
        </div>
        <div class="subtitle mt-2">
           {{subtitle}}
        </div>
        <ng-content select="[after]"></ng-content>
    </div>
</div>