
@import "variables";
@import "bootstrap";

.login-container {
    position: absolute;
    left: 0;
    right: 0;    
    margin: auto;
    top: 0;
    bottom: 0;

    display: flex;    
    justify-content: center;
    align-items: center;

    .login-column {
        position: relative; 

        .loading-spinner {
            position: absolute;
            right: 0;
            top: 0;
            padding: 30px 40px;
            z-index: 10;

            @include media-breakpoint-only(xs) {
                padding: 20px 30px;
            }
        }
    }

    .data-column {
        @include media-breakpoint-only(xs) {
            margin-top: 80px;
        }
        .content {
            @include media-breakpoint-only(xs) {
                padding: 5px 20px;
            }
            .logo {
                display: none;
                position: absolute;
                top: -140px;
                left: 0;
                right: 0;
                margin: auto;
                img {
                    width: 140px;
                    height: 120px
                }
    
                @include media-breakpoint-between(xs,lg) {
                    display: flex;
                }
            }
        }
    }

    .content {
        background: rgba(255,255,255,0.8);
        padding: {
            left: 60px;
            right: 60px;
            top: 5px;
            bottom: 5px;
        };        
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;        
        
        .title {            
            font-size: 40px;
        }
        
        h1 {
            padding: 0;
            margin: 0;
        }

        .logo {            
            
            margin: {
                left: auto;
                right: auto;
            }
            display: flex;
            justify-content: center;
            align-items: center;            

            img {
                display: flex;
                align-items: center;                
                width: 220px;
                height: 200px;
            }
        }

        .logo-sub {
            margin-left: 60px;
            color: blue;
            font-weight: bold;
        }

        .login-button {
            padding: 10px 30px;

            .text {
                padding-left: 10px;
                font-size: 16px;
            }
        }

        .error-placeholder {
            display: flex;
            background: rgba(221, 14, 14, 0.575);
            color: white;
            padding: 10px 15px;

            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            > .text {
                padding-left: 10px;
            }
        }
    }
}