@keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hideModal {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes hideModal {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes sliderTimeout {
    from { width: 100%; }
    to { width: 0; }
}

@-webkit-keyframes sliderTimeout {
    from { width: 100%; }
    to { width: 0; }
}