<div class="container mt-4 mt-md-4">
    <div class="row">
        <div class="col-12 col-sm-6 d-flex flex-column align-items-start justify-content-center">
            <div class="title-section">
                <div class="icon">
                    <a routerLink="/user">
                        <fa-icon class="color-primary" [icon]="faHome" size="2x"></fa-icon>
                    </a>
                </div>
                <div class="icon">
                    <fa-icon [icon]="faChevronRight" class="color-faded" size="sm"></fa-icon>
                </div>
                <div class="title">
                    Pretraga knjige
                </div>                
            </div>            
        </div>

        <div class="col-12 col-sm-6 d-flex justify-content-sm-end align-items-sm-center align-items-md-center mt-2 mt-md-0">
            <div class="found-books-placeholder">
                <div class="found-books-text">Pronađeno rezultata:</div>    
                <div class="found-books-number" [class.in-search]="inSearch">{{resultsFound}}</div>
                <div class="found-books-waiting" [class.display]="inSearch">
                    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12 col-sm-12">
            <app-search-book 
                #searchBook
                [allowedToBeEmpty]="true"
                [allowSmoothSearch]="true"
                [value]="searchedValue" 
                (searched)="search($event)"
                width="full-width"
                ></app-search-book>
        </div>
    </div>

    <div class="row mt-4">
        <app-all-books-listing
            [searchTerm]="searchedValue"
            (booksFound)="booksFound($event)"
        ></app-all-books-listing>
    </div>
</div>