
@import "variables";

.found-books-placeholder {

    display: flex;
    flex-direction: row; 
    align-items: center;   
    position: relative;

    .found-books-text {
        font-size: 1.2em;
        font-weight: bold;
        color: $color-faded;
    }

    .found-books-number {
        padding: 10px 15px;
        font-weight: bold;
        color: $color-success;
        font-size: 1.5em;
        transition: 0.2s;
        opacity: 1;
        min-width: 20px;

        &.in-search {
            opacity: 0;            
        }
    }

    .found-books-waiting {
        position: absolute;
        right: 22px;
        top: 0;
        bottom: 0;
        margin: auto;

        display: none;
        flex-direction: row;
        align-items: center;

        &.display {
            display: flex;
        }

    }
}