
@import "variables";

.found-books-placeholder {

    display: flex;
    flex-direction: row; 
    align-items: center;   

    .found-books-text {
        font-size: 1.2em;
        font-weight: bold;
        color: $color-faded;
    }

    .found-books-number {
        padding: 10px 15px;
        font-weight: bold;
        color: $color-success;
        font-size: 1.5em;
    }
}