
@import "variables";
@import "bootstrap";

:host {

    display: flex;   
    flex-direction: column; 
    width: 100%;
    padding: {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 35px;
    };
    opacity: 0;
    transition: 3s;
    box-sizing: border-box;    
    overflow: hidden;

    min-height: 120px;
    max-height: 250px;

    &.has-warning-message {
        max-height: 250px;
        min-height: 200px;
    }

    &.has-warning-message.expandable {
        max-height: 250px;
        min-height: 200px;

        .comment-text {
            max-height: 120px;            
        }

        &.expanded {
            max-height: none;
            .comment-text {
                max-height: initial;
            }
        }
    }

    &.expandable {
        min-height: 200px;
        max-height: 200px;

        .comment-text {
            max-height: 170px;            
        }

        &.expanded {
            max-height: none;
            .comment-text {
                max-height: initial;
            }
        }
    }
    &.not-expandable {
        max-width: initial;        
    }

    > .row {
        width: 100%;
        display: flex;
    }

    &.in-showing {
        opacity: 1;        
    }

    &.is-shown {
        opacity: 1;
        transition: 0.2s;
    }

    &.remove {
        transition: 1s;
    }

    &.even {
        background-color: white;
    }

    &:nth-child(n) {
        border-bottom: 1px solid lighten($color-faded, 60%);
    }

    &.is-my-comment {
        background: repeating-linear-gradient(
            45deg,
            white 0px,
            white 20px,
            rgba(243, 243, 243, 0.08) 20px,
            rgba(243, 243, 243, 0.08) 40px
        );
    }

    .my-comment {
        font-size: 0.8em;
        padding: 2px 0;
        color: $color-star;
        font-weight: bold;
    }

    .star-placeholder {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3px;

        .star-rating {
            padding-left: 10px;
            font-size: 1.8em;
        }

        .star-emoji {
            padding-left: 10px;
        }
    }

    .comment-text {

        position: relative;        

        .content {
            line-height: 25px;
            padding-bottom: 30px;
            overflow: hidden;
        }
        
        .scroll-more-placeholder {
            position: absolute;
            bottom: -10px;   
            left: 0;         
            padding: {
                top: 75px;
                left: 15px;
                bottom: 15px;
            };            
            width: 100%;

            &.expanded {
                padding-top: 20px;
            }
            
            background: rgb(255,255,255);
            background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 34%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 34%, rgba(255,255,255,0) 100%);
            background: linear-gradient(0deg, rgba(255,255,255,1) 34%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);

            .scroll-more-content {
                font-size: 14px;
                display: inline-flex;
                color: $color-primary;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                .text {
                    padding-left: 5px;
                }
            }
        }
    }

    .comment-date-with-options {
        font-size: 1.1em;

        .options {
            display: flex;
            flex-direction: row;
            margin-top: 5px;

            .delete-button {
                margin-left: 10px;
            }
        }
    }

    .comment-warning {

        $color: $color-star;

        padding: 10px 15px;
        border-radius: 3px;
        background-color: lighten( $color, 57% );
        display: flex;
        flex-direction: row; 
        box-sizing: border-box;
        align-items: center;
        border: 1px solid lighten( $color, 30% );

        .comment-warning-icon {
            color: $color;
        }
        
        .comment-warning-text {
            padding-left: 15px;
            font-size: 0.9em;
        }
    }
}