<div *ngIf="showWarningMessage" class="row mb-2 mt-2">
    <div class="col-12">
        <div class="comment-warning">
            <div class="comment-warning-icon">
                <fa-icon [icon]="faExclamation" size="2x"></fa-icon>
            </div>
            <div class="comment-warning-text">
                <div class="text-uppercase fw-bold font-s-14">Sigurnosna provera</div>
                <div class="mt-1">
                    Komentar nije moguće obrisati u narednih {{diffDays}} dana.
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isMyComment" class="row my-comment">
    <div class="col-12 col-sm-12 col-md-2">
        MOJ KOMENTAR
    </div>
    <div class="d-none d-md-flex d-sm-flex col-sm-12 col-md-2 offset-md-8">
        AKCIJE
    </div>
</div>
<div class="row mt-2">
    <div class="comment-creator col-md-2 col-12 col-sm-12">
        <app-user-details [user]="comment.user">
            <div insteadUsername>
                <div class="star-placeholder">
                    <div class="star-icon">
                        <fa-icon [icon]="faStar" class="color-star" size="2x"></fa-icon>
                    </div>
                    <div class="star-rating">{{comment.rating}}</div>
                    <div *ngIf="emoji" class="star-emoji">
                        <angular-emojis #emojiIcon [name]="emoji" size="27"></angular-emojis>
                    </div>
                </div>
            </div>
        </app-user-details>
    </div>
    <div class="comment-text col-md-8 col-12 col-sm-12">
        <div #commentTextElementRef class="content">
            
        </div>
        <div *ngIf="displayScrollMore" class="scroll-more-placeholder">
            <div class="scroll-more-content" (click)="readWholeComment()">
                <div class="icon">
                    <fa-icon [icon]="!expanded.getValue() ? faEye : faEyeSlashed"></fa-icon>
                </div>
                <div class="text">{{ !expanded.getValue() ? 'Pročitajte ceo komentar' : 'Sakrijte ceo komentar' }}</div>
            </div>
        </div>        
    </div>
    <div class="comment-date-with-options col-md-2 col-12 col-sm-12">
        <div class="date-placeholder d-flex align-items-center">
            <div class="date-icon color-faded">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </div>
            <div class="date-section ms-2">{{getDateForComment()}}</div>            
        </div>
        <div *ngIf="isMyComment" class="options mt-2">
            <div class="button edit-button">
                <app-button [disabled]="disabled" [icon]="faEdit" color="success" size="xs"
                    (buttonClick)="editComment()" 
                    matTooltip="Izmena komentara" matTooltipPosition="below" matTooltipClass="font-s-14"></app-button>
            </div>
            <div class="button delete-button">
                <app-button [disabled]="disabled" [icon]="faTrash" color="danger" size="xs"
                    (buttonClick)="deleteComment()"
                    matTooltip="Brisanje komentara" matTooltipPosition="below" matTooltipClass="font-s-14"></app-button>
            </div>
        </div>
    </div>
</div>