<div class="register-container">
    <div [@fadeInY]="{ value: 'start', params: { yStart: -60, yMiddle: -40, yEnd: 120, delay: '350ms' } }" 
        (@fadeInY.done)="doneAnimating($event)"
    class="container">
        <div class="row">

            <div class="col-12 col-lg-8 offset-lg-2 data-column">
                <div *ngIf="isLoading" class="loading-spinner">
                    <fa-icon [icon]="faSpinner" [spin]="true" size="2x"></fa-icon>
                </div>
                <div class="content">
                    <a routerLink="/">
                        <div class="logo margin-t-40">
                            <img src="assets/images/logo.png" />
                        </div>
                    </a>                    
                    <div class="margin-t-20">
                        <div class="title text-center text-bold" i18n>
                            Registracija
                        </div>
                        <div class="mt-2 text-center font-s-20" i18n>
                            Za prave knjiške moljce smo pripremili puno iznenađenja....
                        </div>
                    </div>
                </div>                                        
            </div>

            <div class="col-12 col-lg-8 offset-lg-2 data-column">
                
                <div class="content">
                    
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2>OPŠTI PODACI</h2>

                            <div class="mt-2">
                                <div class="data-field" [class.error]="isErrorName">
                                    <label for="name">Ime</label>
                                    <input #name name="name" [disabled]="isFormDisabled" (blur)="validate(name)" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaše ime" autofocus="autofocus" autocomplete="off" />
                                    <div *ngIf="isErrorName" class="error-message">{{ errorName }}</div>
                                </div>

                                <div class="data-field" [class.error]="isErrorSurname">
                                    <label for="surname">Prezime</label>
                                    <input #surname name="surname" [disabled]="isFormDisabled" (blur)="validate(surname)" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaše prezime" autocomplete="off" />
                                    <div *ngIf="isErrorSurname" class="error-message">{{ errorSurname }}</div>
                                </div>

                                <div class="data-field" [class.error]="isErrorContact">
                                    <label for="contact">Kontakt telefon</label>
                                    <input #contact name="contact" [disabled]="isFormDisabled" (blur)="validate(contact)" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaš kontakt telefona" autocomplete="off" />
                                    <div *ngIf="isErrorContact" class="error-message">{{ errorContact }}</div>                                    
                                </div>

                                <div class="data-field" [class.error]="isErrorAddress">
                                    <label for="address">Adresa</label>
                                    <input #address name="address" [disabled]="isFormDisabled" (blur)="validate(address)" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vašu adresu" autocomplete="off" />
                                    <div *ngIf="!isErrorAddress" class="smalltip">Na ovu adresu vršimo dostavu knjiga.</div>
                                    <div *ngIf="isErrorAddress" class="error-message">{{ errorAddress }}</div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-12 col-md-6">
                            <h2>PODACI ZA PRIJAVU</h2>

                            <div class="mt-2">
                                <div class="data-field" [class.error]="isErrorEmail">
                                    <label for="name">E-mail</label>
                                    <input #email name="email" [disabled]="isFormDisabled" (blur)="validate(email)" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaš email" autocomplete="off" />
                                    <div *ngIf="isErrorEmail" class="error-message">{{ errorEmail }}</div>
                                </div>

                                <div class="data-field" [class.error]="isErrorUsername">
                                    <label for="username">Korisnicko ime</label>
                                    <input #username name="username" [disabled]="disabledUsername || isFormDisabled" (blur)="validate(username)" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaše željeno korisničko ime" autocomplete="off" />
                                    <div *ngIf="isErrorUsername" class="error-message">{{ errorUsername }}</div>
                                    <div *ngIf="isOkUsername" class="success-message" i18n>
                                        <fa-icon [icon]="faCheck"></fa-icon>
                                        <span>Korisničko ime <span class="text-bold">{{ username.value }}</span> je dostupno.</span>
                                    </div>
                                    <div *ngIf="isTakenUsername" class="error-message" i18n>
                                        <fa-icon [icon]="faTimes"></fa-icon>
                                        <span>Korisničko ime <span class="text-bold">{{ username.value }}</span> je zauzeto.</span>
                                    </div>
                                    <div *ngIf="disabledUsername" class="loading-indicator">
                                        <fa-icon [icon]="faCircleONotch" [spin]="true"></fa-icon>
                                    </div>
                                </div>

                                <div class="data-field" [class.error]="isErrorPassword">
                                    <label for="password">Lozinka</label>
                                    <input #password name="password" [disabled]="isFormDisabled" (blur)="validate(password)" (keyup)="validate(password)" class="theme-input" type="password" i18n-placeholder placeholder="Unesite Vašu lozinku" autocomplete="off" />
                                    <div *ngIf="isErrorPassword && errorPassword !== null" class="error-message">{{ errorPassword }}</div>
                                    <div *ngIf="isErrorPassword && errorPassword === null" class="error-message">
                                        Dogodile su se greške:
                                        <ol>
                                            <li *ngIf="errorPasswordCapitalLetter">
                                                Lozinka mora imati barem jedno veliko slovo.
                                            </li>
                                            <li *ngIf="errorPasswordNumber">
                                                Lozinka mora imati barem jedan broj.
                                            </li>
                                            <li *ngIf="errorPasswordSpecialChar">
                                                Lozinka mora imati barem jedan specijalni karakter.
                                            </li>
                                        </ol>
                                    </div>
                                </div>

                                <div class="data-field" [class.error]="isErrorPasswordConfirm">
                                    <label for="passwordConfirm">Potvrda lozinke</label>
                                    <input #passwordConfirm name="passwordConfirm" [disabled]="isFormDisabled" (keyup)="validate(passwordConfirm)" (blur)="validate(passwordConfirm)" class="theme-input" type="password" i18n-placeholder placeholder="Potvrdite lozinku" autocomplete="off" />
                                    <div *ngIf="!isErrorPasswordConfirm" class="smalltip">Molimo Vas da potvrdite lozinku.</div>
                                    <div *ngIf="isErrorPasswordConfirm" class="error-message">{{ errorPasswordConfirm }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 button-row">
                        <app-button 
                            [icon]="!disabledUsername && !isFormDisabled ? faCheckCircle : faHourglassHalf"
                            size="md"
                            color="success"
                            class="theme-button theme-button-sm"
                            [disabled]="disabledUsername || isFormDisabled"
                            (buttonClick)="register()"
                            >
                            <div *ngIf="!disabledUsername && !isFormDisabled" text>Registrujte se</div>
                            <div *ngIf="disabledUsername || isFormDisabled" text>Učitavanje...</div>
                        </app-button>
                    </div>
                </div>

                <div class="content">

                    <div class="d-none d-lg-block text-center mt-lg-2">
                        <div class="row">
                            <div class="col-6 text-right" i18n>
                                Imate nalog?
                            </div>
                            <div class="col-6 text-left">
                                <span class="solution">
                                    <a routerLink="/login" i18n>Prijavite se</a>
                                </span>
                            </div>          
                        </div>                           
                    </div>

                    <div class="d-block d-lg-none media-query mt-3">
                        <div class="row">
                            <div class="col-6 text-left">
                                <div class="fw-bold font-s-16" i18n>
                                    Zaboravili ste lozinku?
                                </div>                                
                                <div class="solution mt-1">
                                    <a routerLink="/forgot-password" i18n>Oporavak lozinke</a>
                                </div>
                            </div>
                            <div class="col-6 text-left mt-1">  
                                <div class="fw-bold" i18n>
                                    Nemate nalog?
                                </div>
                                <div class="solution mt-1">                                    
                                    <a routerLink="/register" i18n>Registrujte se</a>                                    
                                </div>          
                            </div>          
                        </div>     
                    </div>

                    <app-footer></app-footer>

                </div>
                
            </div>
        </div>
    </div>    
</div>
