<div class="register-container">
    <div [@fadeInY]="{ value: 'start', params: { yStart: -60, yMiddle: -40, yEnd: 120, delay: '350ms' } }" 
        (@fadeInY.done)="doneAnimating($event)"
    class="container">
        <div class="row">

            <div class="col-12 col-lg-8 offset-lg-2 data-column">
                <div *ngIf="isLoading" class="loading-spinner">
                    <fa-icon [icon]="faSpinner" [spin]="true" size="2x"></fa-icon>
                </div>
                <div class="content">
                    <a routerLink="/">
                        <div class="logo margin-t-40">
                            <img src="assets/images/logo.png" />
                        </div>
                    </a>                    
                    <div class="margin-t-20">
                        <div class="title text-center text-bold" i18n>
                            Registracija
                        </div>
                        <div class="mt-2 text-center font-s-20" i18n>
                            Za prave knjiške moljce smo pripremili puno iznenađenja....
                        </div>
                    </div>
                </div>                                        
            </div>

            <div class="col-12 col-lg-8 offset-lg-2 data-column">
                
                <div class="content">
                    <div class="row">
                        <div 
                            app-big-info
                            [icon]="faCheck"
                        >sdsd</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2>OPŠTI PODACI</h2>

                            <div class="mt-2">
                                <div class="data-field">
                                    <label for="name">Ime</label>
                                    <input #name name="name" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaše ime" autofocus="autofocus" autocomplete="off" />
                                </div>

                                <div class="data-field">
                                    <label for="surname">Prezime</label>
                                    <input #surname name="surname" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaše prezime" autocomplete="off" />
                                </div>

                                <div class="data-field">
                                    <label for="contact">Kontakt telefon</label>
                                    <input #contact name="contact" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaš kontakt telefona" autocomplete="off" />
                                </div>

                                <div class="data-field">
                                    <label for="address">Adresa</label>
                                    <input #address name="address" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vašu adresu" autocomplete="off" />
                                    <div class="smalltip">Na ovu adresu vršimo dostavu knjiga.</div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-12 col-md-6">
                            <h2>PODACI ZA PRIJAVU</h2>

                            <div class="mt-2">
                                <div class="data-field">
                                    <label for="name">E-mail</label>
                                    <input #email name="email" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaš email" autocomplete="off" />
                                </div>

                                <div class="data-field">
                                    <label for="username">Korisnicko ime</label>
                                    <input #username name="username" class="theme-input" type="text" i18n-placeholder placeholder="Unesite Vaše željeno korisničko ime" autocomplete="off" />
                                </div>

                                <div class="data-field">
                                    <label for="password">Lozinka</label>
                                    <input #password name="password" class="theme-input" type="password" i18n-placeholder placeholder="Unesite Vašu lozinku" autocomplete="off" />
                                </div>

                                <div class="data-field">
                                    <label for="passwordConfirm">Potvrda lozinke</label>
                                    <input #passwordConfirm name="passwordConfirm" class="theme-input" type="password" i18n-placeholder placeholder="Potvrdite lozinku" autocomplete="off" />
                                    <div class="smalltip">Molimo Vas da potvrdite lozinku.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 button-row">
                        <app-button 
                            [icon]="faCheckCircle"
                            size="md"
                            color="success"
                            class="theme-button theme-button-sm">
                            <div text>Registrujte se</div>
                        </app-button>
                    </div>
                </div>

                <div class="content">

                    <div class="d-none d-lg-block text-center mt-lg-2">
                        <div class="row">
                            <div class="col-6 text-right" i18n>
                                Imate nalog?
                            </div>
                            <div class="col-6 text-left">
                                <span class="solution">
                                    <a routerLink="/login" i18n>Prijavite se</a>
                                </span>
                            </div>          
                        </div>                           
                    </div>

                    <div class="d-block d-lg-none media-query mt-3">
                        <div class="row">
                            <div class="col-6 text-left">
                                <div class="fw-bold font-s-16" i18n>
                                    Zaboravili ste lozinku?
                                </div>                                
                                <div class="solution mt-1">
                                    <a routerLink="/forgot-password" i18n>Oporavak lozinke</a>
                                </div>
                            </div>
                            <div class="col-6 text-left mt-1">  
                                <div class="fw-bold" i18n>
                                    Nemate nalog?
                                </div>
                                <div class="solution mt-1">                                    
                                    <a routerLink="/register" i18n>Registrujte se</a>                                    
                                </div>          
                            </div>          
                        </div>     
                    </div>

                    <app-footer></app-footer>

                </div>
                
            </div>
        </div>
    </div>    
</div>
