<div class="register-container">
    <div [@fadeInY]="{ value: 'start', params: { yStart: -60, yMiddle: -40, delay: '350ms' } }" 
        (@fadeInY.done)="doneAnimating($event)"
    class="container">
        <div class="row">

            <div class="col-12 col-lg-8 offset-lg-2 data-column">
                <div *ngIf="isLoading" class="loading-spinner">
                    <fa-icon [icon]="faSpinner" [spin]="true" size="2x"></fa-icon>
                </div>
                <div class="content">
                    <a routerLink="/">
                        <div class="logo margin-t-40">
                            <img src="assets/images/logo.png" />
                        </div>
                    </a>                    
                    <div class="margin-t-20">
                        <div class="title text-center text-bold">
                            Registracija
                        </div>
                        <div class="mt-2 text-center font-s-20">
                            Za prave knjiške moljce smo pripremili puno iznenađenja....
                        </div>
                    </div>
                </div>                                        
            </div>

            <div class="col-12 col-lg-8 offset-lg-2 data-column">
                
                <div class="progress-bar-placeholder">
                    <div class="progress-bar">
                        <div class="progress-bar-milestone completed">
                            <div class="description">
                                Opšti podaci
                            </div>
                            <div class="number">1</div>
                        </div>
                        <div class="progress-bar-milestone completed">                            
                            <div class="description">
                                Podaci za prijavu
                            </div>
                            <div class="number">2</div>
                        </div>
                        <div class="progress-bar-milestone active">
                            <div class="description">
                                Kraj
                            </div>
                            <div class="number">
                                <fa-icon [icon]="faFlag" size="sm" ></fa-icon>
                            </div>
                        </div>
        
                        <div class="progress-bar-indicator" style="width: 33%"></div>
                    </div>    
                </div>
                
                <div class="section-progress">
                    <div class="section-progress-title">Napredak</div>
                    <div class="single-task-list">
                        <div class="single-task"                         
                        *ngFor="let stage of getStages(); let index = index" 
                        [class.visible]="showTasks"
                        [class.active]="index == activeSection"
                        [class.completed]="index < activeSection"
                        >
                            <div class="single-task-text">{{ index+1 }}. {{ stage }}</div>
                            <div class="single-task-check">
                                <fa-icon [icon]="faDoubleCheck"></fa-icon>
                            </div>
                            <div class="single-task-bar"></div>
                        </div>                    
                    </div>                                        
                </div>

                <div class="content register-form-content">
                    
                    <div #registerFormPlaceholderContent class="center-content register-form-placeholder">                       
                        
                        <div 
                            class="register-form register-form-basic"                                                         
                            app-register-form-basic                            
                            #formBasic
                            (onSubmit)="onStateChange(formBasic)"   
                            [@sectionChange]="animations[0]"                         
                            (@sectionChange.done)="onSectionChange($event, 0)"
                        ></div>
                        <div   
                            class="register-form register-form-login"                                                                                                                
                            app-register-form-login
                            #formLogin
                            (onSubmit)="onStateChange(formLogin)"                            
                            [@sectionChange]="animations[1]"                         
                            (@sectionChange.done)="onSectionChange($event, 1)"
                        ></div>
                        <div
                            class="register-form register-form-finish"                                                                                 
                            app-register-form-finish
                            #formFinish
                            (onSubmit)="onStateChange(formFinish)"                            
                            [@sectionChange]="animations[2]"                         
                            (@sectionChange.done)="onSectionChange($event, 2)"
                        ></div>

                            
                    </div>
                </div>

                <div class="content">

                    <div class="d-none d-lg-block text-center mt-lg-5">
                        <div class="row">
                            <div class="col-6 text-right">
                                Imate nalog?
                            </div>
                            <div class="col-6 text-left">
                                <span class="solution">
                                    <a routerLink="/login">Prijavite se</a>
                                </span>
                            </div>          
                        </div>                           
                    </div>

                    <div class="d-block d-lg-none media-query mt-3">
                        <div class="row">
                            <div class="col-6 text-left">
                                <div class="fw-bold font-s-16">
                                    Zaboravili ste lozinku?
                                </div>                                
                                <div class="solution mt-1">
                                    <a routerLink="/forgot-password">Oporavak lozinke</a>
                                </div>
                            </div>
                            <div class="col-6 text-left mt-1">  
                                <div class="fw-bold">
                                    Nemate nalog?
                                </div>
                                <div class="solution mt-1">                                    
                                    <a routerLink="/register">Registrujte se</a>                                    
                                </div>          
                            </div>          
                        </div>     
                    </div>

                    <app-footer></app-footer>

                </div>
                
            </div>
        </div>
    </div>    
</div>
