<div class="fields">
    
    <div class="field-group" [class.active]="fieldGroupActive === 0">
        <div class="field">
            <div class="title">Ime</div>
            <div class="input">
                <input #name class="theme-input" type="text" placeholder="Unesite Vaše ime" />
            </div>
        </div>
        <div class="field">
            <div class="title">Prezime</div>
            <div class="input">
                <input #surname class="theme-input" type="text" placeholder="Unesite Vaše prezime" />
            </div>
        </div>
        <div class="call-to-action">
            <app-button 
                [icon]="faChevronRight"
                color="success"
                class="theme-button theme-button-sm"
                (buttonClick)="submit()">
                <div text>Dalje</div>
            </app-button>
        </div>
    </div>

    <div class="field-group" [class.active]="fieldGroupActive === 1">
        <div class="field">
            <div class="title">ASD</div>
            <div class="input">
                <input #name class="theme-input" type="text" placeholder="Unesite Vaše ime" />
            </div>
        </div>
        <div class="field">
            <div class="title">ImSDSDe</div>
            <div class="input">
                <input #name class="theme-input" type="text" placeholder="Unesite Vaše ime" />
            </div>
        </div>
    </div>
</div>
