<div @show class="container mt-md-4"
    (@show.done)="doneAnimation($event)"
>
    <div class="row">
        <div class="col-md-8 col-12 mt-3 mt-lg-0">
            <div class="title-section">
                <div class="icon">
                    <a routerLink="/user">
                        <fa-icon class="color-primary" [icon]="faHome" size="2x"></fa-icon>
                    </a>
                </div>
                <div class="icon">
                    <fa-icon [icon]="chevron" class="color-faded" size="sm"></fa-icon>
                </div>
                <div class="title">
                    <a [routerLink]="getLinkForAllBooks()" i18n>Sve knjige</a>                    
                </div>  
                <div class="icon">
                    <fa-icon [icon]="chevron" class="color-faded" size="sm"></fa-icon>
                </div>
                <div class="title">
                    {{ book.title }}
                </div>                
            </div>
        </div>

        <div class="col-md-4 col-12 mt-4">
            <div class="price-placeholder">
                <div class="price-title" i18n>CENA</div>
                <div class="price-actual">
                    <div class="main-price">{{ getMainPrice() }}</div>
                    <div class="penny-with-currency">,{{ getPennies() }} RSD</div>
                </div>                
            </div>
        </div>

    </div>

    <div class="row mt-md-3 mb-md-3 mt-3 mb-3">
        <div class="col-12 col-md-12 col-sm-12">
            <div [@fadeInContent]="fadeInContentAnimation" (@fadeInContent.done)="doneFadingIn($event)"  class="book-section">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-12">
                        <div 
                        [@fadeInContentChild]="childAnimation[0]"   
                        (@fadeInContentChild.done)="doneAnimatingChild($event, 0)"                     
                        class="image">
                            <img [src]="getImageForBook()">
                        </div>
                    </div>
                    <div [@fadeInContentChild]="childAnimation[1]" (@fadeInContentChild.done)="doneAnimatingChild($event, 1)"  class="center-content col-md-5 col-sm-12 col-12">
                        <div *ngIf="book.onPromotion" class="mt-3">
                            <app-sponsored-star></app-sponsored-star>
                        </div>
                        <div class="title mt-3">{{ book.title }}</div> 
                        <div class="description mt-3">
                            {{ book.description}}
                        </div>

                        <div class="subtitle" i18n>
                            Godina izdanja
                        </div> 
                        <div class="subtitle-value">
                            {{ book.yearIssued }}
                        </div>     
                        
                        <div class="subtitle" i18n>
                            Broj strana
                        </div> 
                        <div class="subtitle-value">
                            {{ book.pages }}
                        </div>   
                        
                        <div class="subtitle" i18n>
                            Autor(i)
                        </div> 
                        <div class="subtitle-value">
                            {{ book.author }}
                        </div>   
                    </div>

                    <div [@fadeInContentChild]="childAnimation[2]" 
                        (@fadeInContentChild.done)="doneAnimatingChild($event, 2)" 
                        class="right-content col-md-3 col-sm-12 col-12">

                        <div class="mb-2 mt-3">
                            <app-button (buttonClick)="onRecommend()" [icon]="faBookmark" color="starcolor" size="xs">
                                <div text i18n>PREPORUČITE</div>
                            </app-button>
                        </div>
                        
                        <app-trait
                            class="mt-3"
                            title="Prosečna ocena"
                            i18n-title
                            [value]="getAverageValue()"
                            [icon]="faStar"
                            iconSize="2x"
                            iconClass="color-star"
                        ></app-trait>

                        <app-trait
                            class="mt-4"    
                            title="Ocene"
                            i18n-title
                            [value]="getCommentsNumber()"
                            [icon]="faComments"
                            iconSize="2x"
                            iconClass="color-primary"
                        ></app-trait>

                        <app-trait
                            class="mt-4"    
                            title="Preporuke"
                            i18n-title
                            [value]="getRecommendations()"
                            [icon]="faBookmark"
                            iconSize="2x"
                            iconClass="color-primary"
                        ></app-trait>

                        <app-trait
                            class="mt-4"    
                            title="Trenutno gleda"
                            i18n-title
                            [value]="5"
                            [icon]="faEye"
                            iconSize="2x"
                            iconClass="color-primary"
                        ></app-trait>

                        <app-trait
                            class="mt-4"    
                            title="Pregledi"
                            i18n-title
                            [value]="5690"
                            [icon]="faFlag"
                            iconSize="2x"
                            iconClass="color-primary"
                        ></app-trait>                          
                       
                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-12 col-md-12">
                        <div class="splitter"></div>
                    </div>
                </div>
                
                <div 
                    [@fadeInContentChild]="childAnimation[3]"            
                class="row mt-3 d-flex flex-row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="fs-5 text-uppercase" i18n>Ocene i komentari</div>
                    </div>
                    <div *ngIf="!isPresentMyComment" class="col-12 col-md-6 d-flex flex-column align-items-end">
                        <div class="font-s-14" i18n>Pročitali ste knjigu i želite da nam prenesete utiske?</div>
                        <app-button (buttonClick)="leaveComment()" class="mt-1" [icon]="faComment" color="success" size="xs">
                            <div text i18n>Ostavite komentar</div>
                        </app-button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-md-12">
                        <div 
                            [@fadeInContentChild]="childAnimation[3]"                                
                            (@fadeInContentChild.done)="doneAnimatingChild($event, 3)"
                        class="comments-placeholder" [class.has-comments]="numberOfComments > 0">
                            <div
                                *ngIf="numberOfComments === 0"
                                app-big-info
                                [icon]="faCommentSlash"   
                                iconSize="7x"                             
                                iconColor="primary"
                                title="Hm... svi čitaju knjigu!"
                                i18n-title
                                subtitle="Trenutno nema komentara, molimo pokušajte kasnije"   
                                i18n-subtitle                             
                            ></div>

                            <div
                                #myCommentComponent
                                single-comment
                                *ngIf="isPresentMyComment"    
                                [class.is-my-comment]="true"                                                            
                                [comment]="myComment!"
                                [emoji]="emojis[myComment!.rating-1]"
                                [showWarningMessage]="showWarningMessage"
                                [isMyComment]="true"
                                [class.even]="true"
                                [class.in-showing]="showMyComment"
                                [class.is-shown]="isShownMyComment"
                                [class.remove]="markedForDeletion"
                                [disabled]="checkIfCommentActionsShouldBeDisabled()"
                                (delete)="onDeleteComment(myComment)"
                                (edit)="onEditComment(myComment)"
                            ></div>
                            
                            <div
                                single-comment
                                *ngFor="let comment of comments; let i = index"
                                [comment]="comment"                                
                                [class.even]="i % 2 === 0"
                                [class.is-shown]="true"
                                [emoji]="emojis[comment.rating-1]"                                
                            ></div>
                            
                                                   
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<perce-comments-section
    #commentsSection
></perce-comments-section>
