<app-loader 
    #loader     
    overlayColor="dark" 
    [overlayOpacity]="overlayOpacity" 
    [zIndexPlaceholder]="zIndexPlaceholder!"
    (overlayClick)="overlayClicked()"
    >
    <div *ngIf="showContent" (click)="dismissLoader()" loader-content class="successful-message" [style.z-index]="loader.zIndexContent+1">
        <div class="dismiss-slider-container" [class.start-transition]="startTransition">
            <div #slider class="slider"></div>
            {{ setSlider(slider) }}
        </div>
        <div class="container-fluid content">
            <div class="row">
                <div class="row">
                    <div class="col-12 col-sm-12 text-center">
                        <fa-icon [icon]="icon" class="color-success" size="3x"></fa-icon>
                    </div>
                </div>
                <div class="row margin-t-20">
                    <div class="col-12 col-sm-12 text-center">
                        <div class="title">{{textToDisplay}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-loader>